.top{
padding-top: 10px;
  }
  .top-left{
    float: left;
  }
.top-right{
  float: right;
  padding-right: 27px;
}
.navigations{
  display: inline-block;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.74);
  padding-left: 10px;
}
.navigations:hover{
  text-decoration: underline;
}
.more{
  position: relative;
  padding-left: 10px;
  padding-right: 10px;

}
.sign_in_button{
  background-color: #4285f4;
  border: 1px solid #4285f4;
  border-radius: 2px;
  color: white;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 28px;
  font-size: 13px;
  font-weight: bold;
  margin: auto;
}

.footer {
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: #f2f2f2;
  color:#5f6368;
  text-align: center;

  margin: 0 !important;
  line-height: 8px;
  border-top: 1px solid #e4e4e4;
  font-family: arial,sans-serif;
  padding: 5px 0px;
  text-decoration: none;
}
.footer a{
  font-size: 14px;

}
.f-left{
  float:left;
}
.f-left a{
  padding-left: 18px;
}
.f-right{
  float:right;
  padding-left: 18px;
}
.f-right a{
  padding-left: 12px;
}
#hplogo {
    display: block;
    padding-bottom: 25px;
    padding-left: 10px;
    margin: auto;
 }

 input[type=text] {
  display: block;
  background-color: transparent;
    border: 1px solid #dfe1e5;
    color: initial;
    color: rgba(0,0,0,.87);
    padding: 0px 0px;
    margin: 16px 0;
    box-sizing: border-box;
    border-radius: 20px;
    background-image: url('media/magnifier.jpg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 40px;
    height: 50px;
    margin: auto;
    width: 582px;
  }


  .btnTest{
    display: inline-block;
    background:url('media/mic.png');;
    padding-left:20px;
    background-size: 20px 20px;

 }   

 .btn-group{
  top: 53px;
  width: 487px;
  margin: 30px auto;
  text-align: center;
  
 }
 .btn{
  text-decoration: none !important;
  text-align: center;
  padding: 12px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: rgb(95, 99, 104);
  font-size: 14px;
  cursor: pointer;
  margin: 0px 4px 0 4px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 10px;
  display: inline-block;
}







/* Tooltip text */
.more .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(73, 64, 64);
  color: #f2f2f2;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 4;
}

/* Show the tooltip text when you mouse over the tooltip container */
.more:hover .tooltiptext {
  visibility: visible;
  
}